# Assignment 1:
### - The automated_stat_analyzer Function
- Scenario: A retail company needs a utility to quickly summarize sales data. Students must create a function that identifies the 
"Central Tendency" and "Dispersion" of any numerical column.
- ### Requirements:

* Accept a Pandas DataFrame and a column name.

* Calculate the Mean, Median, and Standard Deviation .

* Identify if the data is "Skewed" by comparing the Mean and Median.


* Bonus: If the column is categorical, return the Mode instead.

### Your Data

In [1]:
import pandas as pd
import numpy as np

# Create a synthetic Company Sales Dataset
data = {
    'Transaction_ID': range(1, 11),
    'Product_Category': ['Electronics', 'Home', 'Electronics', 'Sports', 'Home', 
                         'Electronics', 'Home', 'Sports', 'Electronics', 'Electronics'],
    'Sales_Amount': [150, 200, 155, 300, 210, 180, 205, 1000, 190, 160], # 1000 is an Outlier
    'Customer_Age': [25, 34, np.nan, 45, 23, 31, 29, np.nan, 38, 40],    # Contains Nulls (NaN)
    'Rating': [5, 4, 3, 5, 2, 4, 5, 2, 4, 3]
}

df_test = pd.DataFrame(data)

# Save to CSV for students to practice loading files [cite: 74]
df_test.to_csv('company_sales_test.csv', index=False)
print("Test dataset created successfully!")

Test dataset created successfully!

In [2]:
df_test.head()

   Transaction_ID Product_Category  Sales_Amount  Customer_Age  Rating
0               1      Electronics           150          25.0       5
1               2             Home           200          34.0       4
2               3      Electronics           155           NaN       3
3               4           Sports           300          45.0       5
4               5             Home           210          23.0       2

In [3]:
import pandas as pd

def automated_stat_analyzer(df, column_name):
    """
    Company Task: Provide a summary report of a specific data variable.
    
    Instructions:
    1. Check if the column is numerical or categorical.
    2. For numerical: Calculate Mean, Median, and Standard Deviation.
    3. For categorical: Calculate the Mode.
    4. Return a dictionary with these statistical measures.
    """
    # TODO: Implement using df[column_name].mean(), .median(), .std(), or .mode()  you can used Sales_Amount for your test case
    col_data = df[column_name]
    
    # Dictionary to store our report
    report = {}
    
    # 1. Check if the column is numerical or categorical.
    # I'm checking if the dtype is integer or float
    if col_data.dtype in ['int64', 'float64']:
        # 2. For numerical: Calculate Mean, Median, and Standard Deviation.
        mean_val = col_data.mean()
        median_val = col_data.median()
        std_val = col_data.std()
        
        # Check Skewness (Simple check: is Mean different from Median?)
        if mean_val != median_val:
            skew_status = "Skewed"
        else:
            skew_status = "Not Skewed"
            
        report = {
            "Mean": mean_val,
            "Median": median_val,
            "Standard_Deviation": std_val,
            "Skewness": skew_status
        }
        
    else:
        # 3. For categorical: Calculate the Mode.
        # .mode() returns a Series, so I take the first item [0]
        mode_val = col_data.mode()[0]
        report = {"Mode": mode_val}
        
    # 4. Return a dictionary with these statistical measures.
    return report
    pass

## Assignment 2: 
  ### The null_handling_strategy Function

#### Scenario: Incoming user data often has missing values.Students must implement a flexible strategy to handle these "Null Values" to prepare data for Machine Learning.
### Requirements:

* Check for null values in the DataFrame.

* Apply a strategy based on parameters: "drop_rows", "fill_mean", or "fill_median" .

* Ensure the function only fills numerical columns when using mean or median.

In [4]:
def null_handling_strategy(df, strategy="fill_mean"):
    """
    Company Task: Clean a dataset by resolving missing (NaN) values.
    """
    # TODO: Implement using .isnull(), .dropna(), or .fillna() you can used Customer_Age for your test case
    df_clean = df.copy()
    
    if strategy == "drop_rows":
        # Drop any row that has a missing value
        return df_clean.dropna()
        
    elif strategy == "fill_mean":
        # Loop through columns to find numerical ones
        for col in df_clean.columns:
            if df_clean[col].dtype in ['int64', 'float64']:
                # Calculate mean and fill NaNs for this column
                mean_val = df_clean[col].mean()
                df_clean[col] = df_clean[col].fillna(mean_val)
        return df_clean
        
    elif strategy == "fill_median":
        # Same logic but for median
        for col in df_clean.columns:
            if df_clean[col].dtype in ['int64', 'float64']:
                median_val = df_clean[col].median()
                df_clean[col] = df_clean[col].fillna(median_val)
        return df_clean
        
    else:
        return df_clean
    pass